[submodule "acl"]
	path = acl
	url = https://git.savannah.nongnu.org/git/acl.git
[submodule "attr"]
	path = attr
	url = https://git.savannah.nongnu.org/git/attr.git
[submodule "autoconf"]
	path = autoconf
	url = http://git.sv.gnu.org/r/autoconf.git
[submodule "automake"]
	path = automake
	url = https://git.savannah.gnu.org/git/automake.git
[submodule "bash"]
	path = bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "bc"]
	path = bc
	url = https://git.yzena.com/gavin/bc.git
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "bison"]
	path = bison
	url = https://git.savannah.gnu.org/git/bison.git/
[submodule "bzip2"]
	path = bzip2
	url = https://gitlab.com/federicomenaquintero/bzip2.git
[submodule "check"]
	path = check
	url = https://github.com/libcheck/check.git/
[submodule "coreutils"]
	path = coreutils
	url = git://git.sv.gnu.org/coreutils
[submodule "dejagnu"]
	path = dejagnu
	url = git://git.sv.gnu.org/dejagnu.git
[submodule "diffutils"]
	path = diffutils
	url = https://git.savannah.gnu.org/git/diffutils.git
[submodule "e2fsprogs"]
	path = e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "elfutils"]
	path = elfutils
	url = git://sourceware.org/git/elfutils.git
[submodule "eudev"]
	path = eudev
	url = https://anongit.gentoo.org/git/proj/eudev.git
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "file"]
	path = file
	url = https://github.com/file/file.git
[submodule "findutils"]
	path = findutils
	url = https://git.savannah.gnu.org/git/findutils.git
[submodule "flex"]
	path = flex
	url = https://github.com/westes/flex.git
[submodule "gawk"]
	path = gawk
	url = https://git.savannah.gnu.org/git/gawk.git
[submodule "gcc"]
	path = gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "gdbm"]
	path = gdbm
	url = git://git.gnu.org.ua/gdbm.git
[submodule "gettext"]
	path = gettext
	url = https://git.savannah.gnu.org/git/gettext.git
[submodule "glibc"]
	path = glibc
	url = https://sourceware.org/git/glibc.git
[submodule "GMP"]
	path = GMP
	url = https://github.com/alisw/GMP.git
[submodule "gperf"]
	path = gperf
	url = https://git.savannah.gnu.org/git/gperf.git
[submodule "grep"]
	path = grep
	url = https://git.savannah.gnu.org/git/grep.git
[submodule "groff"]
	path = groff
	url = https://git.savannah.gnu.org/git/groff.git
[submodule "grub"]
	path = grub
	url = https://git.savannah.gnu.org/git/grub.git
[submodule "gzip"]
	path = gzip
	url = https://git.savannah.gnu.org/git/gzip.git/
[submodule "iana-etc"]
	path = iana-etc
	url = https://github.com/Mic92/iana-etc.git
[submodule "inetutils"]
	path = inetutils
	url = https://git.savannah.gnu.org/git/inetutils.git
[submodule "intltool"]
	path = intltool
	url = https://gitlab.gnome.org/World/intltool.git
[submodule "iproute2"]
	path = iproute2
	url = https://git.kernel.org/pub/scm/network/iproute2/iproute2.git
[submodule "kbd"]
	path = kbd
	url = https://git.kernel.org/pub/scm/linux/kernel/git/legion/kbd.git
[submodule "kmod"]
	path = kmod
	url = https://git.kernel.org/pub/scm/utils/kernel/kmod/kmod.git
[submodule "less"]
	path = less
	url = https://github.com/gwsw/less.git
[submodule "libcap"]
	path = libcap
	url = https://git.kernel.org/pub/scm/libs/libcap/libcap.git
[submodule "libffi"]
	path = libffi
	url = https://github.com/libffi/libffi.git
[submodule "libpipeline"]
	path = libpipeline
	url = https://gitlab.com/cjwatson/libpipeline.git
[submodule "libtool"]
	path = libtool
	url = git://git.savannah.gnu.org/libtool.git
[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "m4"]
	path = m4
	url = git://git.sv.gnu.org/m4
[submodule "make"]
	path = make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "man-db"]
	path = man-db
	url = https://git.savannah.nongnu.org/git/man-db.git
[submodule "man-pages"]
	path = man-pages
	url = https://git.kernel.org/pub/scm/docs/man-pages/man-pages.git
[submodule "meson"]
	path = meson
	url = https://github.com/mesonbuild/meson.git
[submodule "mpc"]
	path = mpc
	url = https://gitlab.inria.fr/mpc/mpc.git
[submodule "ncurses"]
	path = ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "ninja"]
	path = ninja
	url = git://github.com/ninja-build/ninja.git
[submodule "openssl"]
	path = openssl
	url = git://git.openssl.org/openssl.git
[submodule "patch"]
	path = patch
	url = https://git.savannah.gnu.org/git/patch.git
[submodule "perl5"]
	path = perl5
	url = https://github.com/Perl/perl5.git
[submodule "pkg-config"]
	path = pkg-config
	url = https://gitlab.freedesktop.org/pkg-config/pkg-config.git
[submodule "procps"]
	path = procps
	url = https://gitlab.com/procps-ng/procps.git
[submodule "psmisc"]
	path = psmisc
	url = https://gitlab.com/psmisc/psmisc.git
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
[submodule "readline"]
	path = readline
	url = https://git.savannah.gnu.org/git/readline.git
[submodule "sed"]
	path = sed
	url = git://git.sv.gnu.org/sed
