[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "acl"]
	path = acl
	url = https://git.savannah.nongnu.org/git/acl.git
[submodule "attr"]
	path = attr
	url = https://git.savannah.nongnu.org/git/attr.git
