[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "acl"]
	path = acl
	url = https://git.savannah.nongnu.org/git/acl.git
[submodule "attr"]
	path = attr
	url = https://git.savannah.nongnu.org/git/attr.git
[submodule "autoconf"]
	path = autoconf
	url = http://git.sv.gnu.org/r/autoconf.git
[submodule "automake"]
	path = automake
	url = https://git.savannah.gnu.org/git/automake.git
[submodule "bash"]
	path = bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "bc"]
	path = bc
	url = https://git.yzena.com/gavin/bc.git
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
